@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Manager</h1>
    <p class="lead">Manage</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">jumbotron link</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>header for column 1</h2>
        <p>
            col 1 para
        </p>
        <p>@Html.ActionLink("Create", "Create", "Team")</p>
    </div>
    <div class="col-md-4">
        <h2>header for column 2</h2>
        <p>
            col 2 para
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">col 2 link</a></p>
    </div>
    <div class="col-md-4">
        <h2>header for column 3</h2>
        <p>
            col 3 para
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">col 3 link</a></p>
    </div>
</div>